.flocking-box {
	border: 1px solid black;
	float: left;
	margin-left: 100px;
	margin-right: 20px;
}

.boid {
	r: 2;
	fill: black;
}

.cohesion {
	stroke: blue;
	stroke-width: 1;
}

.alignment {
	stroke: green;
	stroke-width: 1;
}

.separation {
	stroke: red;
	stroke-width: 1;
}

